<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'ceburasko/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ceburasko/css/ceburasko.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'ceburasko/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ceburasko/google-code-prettify/prettify.js' %}"></script>
    <title>{% block title %}Ceburasko{% endblock %}</title>
</head>
<body onload="prettyPrint()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Ceburasko</div>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search issue">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
        {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li class="active">Projects</li>
        </ol>
        {% endblock %}
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
