{% extends "ceburasko/base.html" %}

{% block title %} {{ build }} &mdash; {{ build.project }} &mdash; Ceburasko {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'ceburasko:projects' %}">Projects</a></li>
    <li><a href="{% url 'ceburasko:project_details' build.project.id %}">{{ build.project }}</a></li>
    <li><a href="{% url 'ceburasko:builds' build.project.id %}">Builds</a></li>
    <li class="active">{{ build }}</li>
</ol>
{% endblock breadcrumbs %}

{% block body %}
<h1>Build {{ build }}</h1>

<table class="table table-striped">
    <tr>
        <th>Filename</th>
        <th>ID</th>
    </tr>
    {% for binary in build.binary_set.all %}
    <tr>
        <td>{{ binary.filename }}</td>
        <td>{{ binary.hash }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock body%}
