{% extends 'ceburasko/base.html' %}
{% load url from future %}

{% block title %} {%include "ceburasko/issue_type_snippet.html"%} issues &mdash; {{ project }} &mdash; Ceburasko {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'ceburasko:projects' %}">Projects</a></li>
        <li><a href="{% url 'ceburasko:project_details' project.id %}">{{ project }}</a></li>
        <li class="active">{%include "ceburasko/issue_type_snippet.html"%} issues</li>
    </ol>
{% endblock %}


{% block body %}
<h1>{%include "ceburasko/issue_type_snippet.html"%} issues <small>{{issues.paginator.count}} total</small></h1>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Summary</th>
        <th>Foreign</th>
        <th>Accidents</th>
        <th>Updated</th>
        <th>Latest version</th>
    </tr>
    {% for issue in issues %}
    <tr>
        <td>{{ issue.id }}</td>
        <td><a href="{% url 'ceburasko:issue_details' issue.id %}">{{ issue }}</a></td>
        <td>{% for fi in issue.foreignissue_set.all %}<a href="{{fi.url}}">{{fi.key}}</a> {%endfor%}</td>
        <td>{{ issue.accident_set.count }}</td>
        <td>{{ issue.modified_time|date:'Y-m-d H:i:s' }}</td>
        <td>?</td>
    </tr>
    {% endfor %}
</table>

<nav>
    <ul class="pagination">
        {% for i in issues.paginator.page_range %}
            {% if i == issues.number %}
                <li class="active"><a href="#">{{i}}</a></li>
            {% else %}
                <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>


{% endblock %}

