{% extends 'ceburasko/base.html' %}
{% load url from future %}

{% block title %} {%include "ceburasko/issue_type_snippet.html"%} issues &mdash; {{ project }} &mdash; Ceburasko {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'ceburasko:projects' %}">Projects</a></li>
        <li><a href="{% url 'ceburasko:project_details' project.id %}">{{ project }}</a></li>
        <li class="active">{%include "ceburasko/issue_type_snippet.html"%} issues</li>
    </ol>
{% endblock %}


{% block body %}
<h1>{%include "ceburasko/issue_type_snippet.html"%} issues <small>{{issues.paginator.count}} total</small></h1>

{% if is_fixed %}
    {% include "ceburasko/fixed_issues_snippet.html" %}
{% else %}
    {% include "ceburasko/opened_issues_snippet.html" %}
{% endif %}

{% include "ceburasko/paginator_snippet.html" with page=issues %}

{% endblock %}

