{% extends "ceburasko/base.html" %}

{% block title %} {{ issue }} &mdash; {{ issue.project }} &mdash; Ceburasko {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'ceburasko:projects' %}">Projects</a></li>
    <li><a href="{% url 'ceburasko:project_details' issue.project.id %}">{{ issue.project }}</a></li>
    {% if issue.is_fixed %}
    <li><a href="{%url 'ceburasko:fixed-issues' issue.project.id%}">Fixed issues</a></li>
    {% else %}
    <li><a href="{%url 'ceburasko:issues' issue.project.id%}">Opened issues</a></li>
    {% endif %}
    <li class="active">{{issue}}</li>
</ol>
{% endblock breadcrumbs %}

{% block body %}
{% include "ceburasko/accidents_by_date_chart_snippet.html" with chart_id="chart_div" chart_data=accidents_by_date%}
{% include "ceburasko/accidents_by_version_chart_snippet.html" with chart_id="versions_chart_div" chart_data=accidents_by_version%}

<form class="form-horizontal" role="form" action="{% url 'ceburasko:issue_modify' issue.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <input type="input" id="title" name="title" class="form-control input-lg" value="{{ issue.title }}" placeholder="{{issue}}">
        </div>
    </div>

  <div class="form-group">
   <div class="col-md-6 col-xs-6">
    <div class="form-group">
        <label for="priority" class="col-md-6 col-xs-6 control-label">Priority</label>
        <div class="col-md-6 col-xs-6">
            <input type="input" class="form-control" id="priority" name="priority" value="{{ issue.priority }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 col-xs-6 control-label">Kind</label>
        <div class="col-md-6 col-xs-6">
            <p class="form-control-static">{{ issue.kind }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 col-xs-6 control-label">Accidents</label>
        <div class="col-md-6 col-xs-6">
            <p class="form-control-static">{{ issue.accident_set.count }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 col-xs-6 control-label">Users affected</label>
        <div class="col-md-6 col-xs-6">
            <p class="form-control-static">{{ issue.users_affected }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 col-xs-6 control-label">First affected version</label>
        <div class="col-md-6 col-xs-6">
            <p class="form-control-static">{{ issue.first_affected_version }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 col-xs-6 control-label">Last affected version</label>
        <div class="col-md-6 col-xs-6">
            <p class="form-control-static">{{ issue.last_affected_version }}</p>
        </div>
    </div>
   </div>
   <div class="col-md-6 col-xs-6">
        <div class="col-md-12" id="versions_chart_div" style="height: 250px">
        </div>
   </div>
  </div>

    <div class="form-group">
        <label for="fixed_version" class="col-md-3 col-xs-3 control-label">Version fixed</label>
        <div class="col-md-3 col-xs-5">
            <input type="input" class="form-control" id="fixed_version" name="fixed_version" value="{%if issue.fixed_version%}{{ issue.fixed_version }}{%endif%}"/>
        </div>
        <p class="help-block">
        {% if issue.is_fixed %}
            <span class="label label-success">Fixed</span>
        {% else %}
            <span class="label label-danger">Not fixed</span>
        {% endif %}
        </p>
    </div>
    {% for tracker in foreign_trackers %}
    <div class="form-group">
        <label for="tracker{{tracker.id}}" class="col-md-3 col-xs-3 control-label">{{ tracker }} issue</label>
        <div class="col-md-3 col-xs-5">
            <input type="input" id="tracker{{tracker.id}}}" name="tracker{{tracker.id}}" class="form-control" value="{{tracker.issue_key}}" />
        </div>
        <p class="help-block">
        {% if tracker.issue_status %}
            <span class="label label-{% if tracker.issue_status.0 %}success{%else%}danger{%endif%}">{{tracker.issue_status.1}}</span> 
        {% endif %}
        {% if tracker.issue_url %}
            <a href="{{tracker.issue_url}}">Visit</a>
        {% endif %}
        </p>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-md-offset-3 col-xs-offset-3 col-md-3 col-xs-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="save_logs" name="save_logs" {%if issue.save_logs%}checked{%endif%}/> Request logs
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-xs-offset-3 col-md-1 col-xs-1">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
        <div class="col-xs-8 col-md-8">
            <a class="btn btn-danger" href="{% url 'ceburasko:issue_delete' issue.id %}">Delete</a>
        </div>
    </div>
</form>


<div class="col-md-12" id="chart_div" style="height: 300px"></div>


<h2>Accidents</h2>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>{%include "ceburasko/ordering_snippet.html" with title="Date" key="datetime"%}</th>
        <th>Logs</th>
        <th>IP address</th>
        <th>{%include "ceburasko/ordering_snippet.html" with title="Build" key="build"%}</th>
        <th>Binary</th>
    </tr>
{% for accident in accidents %}
    <tr>
        <td><a href="{%url 'ceburasko:accident_details' accident.id %}">#{{ accident.id }}</a></td>
        <td><a href="{%url 'ceburasko:accident_details' accident.id %}">{{ accident.datetime|date:"Y-m-d H:i:s" }}</a></td>
        <td>{{ accident.logs_available }}</td>
        <td>{{ accident.ip }}</td>
        <td>{{ accident.build }}</td>
        <td>{{ accident.binary }}</td>
    </tr>
{% endfor %}
</table>

{% include "ceburasko/paginator_snippet.html" with page=accidents %}

{% endblock %}
