{% extends 'ceburasko/base.html' %}
{% load url from future %}

{% block title %}{{ project }} &mdash; Ceburasko{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'ceburasko:projects' %}">Projects</a></li>
        <li class="active">{{ project }}</li>
    </ol>
{% endblock %}

{% block body %}
<h1>{{ project }}</h1>

<h2>Builds</h2>

{% if builds %}
<table class="table table-striped">
    <tr>
        <th>version</th>
        <th>created</th>
        <th>issues</th>
        <th>fixed issues</th>
    </tr>
    {% for build in builds %}
    <tr>
        <td>{{ build.version }}</td>
        <td>{{ build.created_time }}</td>
        <td>{{ build.issues_set }}</td>
        <td>{{ build.fixed_issues_count }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No builds. Is anybody here?</p>
{% endif%}

<h2>Opened issues {% if opened_issues %}<small>{{opened_issues_count}} total</small>{%endif%}</h2>
{% if opened_issues %}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Summary</th>
        <th>Foreign</th>
        <th>Accidents</th>
        <th>Updated</th>
        <th>Latest version</th>
    </tr>
    {% for issue in opened_issues %}
    <tr>
        <td>{{ issue.id }}</td>
        <td><a href="{% url 'ceburasko:issue_details' issue.id %}">{{ issue }}</a></td>
        <td>{% for fi in issue.foreignissue_set.all %}<a href="{{fi.url}}">{{fi.key}}</a> {%endfor%}</td>
        <td>{{ issue.accident_set.count }}</td>
        <td>{{ issue.modified_time|date:'Y-m-d H:i:s' }}</td>
        <td>?</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'ceburasko:issues' project.id %}">View all opened issues</a></p>
{% else %}
<p>No opened issues. Great!</p>
{% endif %}


<h2>Fixed issues {% if fixed_issues %}<small>{{fixed_issues_count}} total</small>{%endif%}</h2>
{% if fixed_issues %}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Summary</th>
        <th>Accidents</th>
        <th>Fixed version</th>
    </tr>
    {% for issue in fixed_issues %}
    <tr>
        <td>{{ issue.id }}</td>
        <td><a href="{% url 'ceburasko:issue_details' issue.id %}">{{ issue }}</a></td>
        <td>{{ issue.accident_set.count }}</td>
        <td>{{ issue.fixed_version }}</td>
    </tr>
    {% endfor %}
</table>

<p><a href="{% url 'ceburasko:fixed-issues' project.id %}">View all fixed issues</a></p>

{% else %}
<p>No issues.</p>
{% endif %}


{% endblock %}
